@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.product{
  @apply flex flex-col bg-gray-100 p-5  rounded-lg shadow-md max-sm:w-40;
  h3{
    @apply text-2xl max-sm:text-[16px] font-bold text-blue-950;
  }
  p{
    @apply text-gray-600 w-72 max-sm:w-40;
  }
}
#order-form{
  input{
    @apply w-full px-3 text-[14px] py-1 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400;
  }
  fieldset{
    display: flex;
    input{
      @apply border-b rounded-none px-2 border-0 ;
    }
    input:nth-child(3){
      @apply w-40 mr-2;
    }
    input:nth-child(4){
      @apply w-40 ml-4;
  }
}
}